// Sets up the basics of the website such as fonts and colors

body, html {
  font-family: 'Titillium Web', sans-serif;
  background-color: $backgroundColor;
  color: $textColor;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, a, .dropdown {
  font-family: 'IM Fell French Canon SC', serif;
}

h1{
  font-size: 3.2em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 1.7em;
  margin-bottom: 0;
}
