footer {
  background-color: $backgroundColorInverted;
  color: $textColorInverted;
  padding: 40px;

  @include media-breakpoint-up(sm) {
    width: 100vw;
  }

  .footer-content {
    width: $containerWidth;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1em;

    div {
      width: $containerWidth/2;
      max-width: 100%;

      * {
        margin: 0px
      }
      p {
        font-size: 0.7em;
      }
    }
  }
}
