nav {
  z-index: 99;
  width: 100%;
  position: fixed;
  background-color: $backgroundColorInverted;
  height: 55px;
  max-height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  * {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: $textColorInverted;
  }

  *:hover {
    background-color: lighten($backgroundColorInverted, 5);
  }

  .is-active {
    background-color: lighten($backgroundColorInverted, 10);
  }
}
