.content {
  @media screen and (min-width: $mobileWidth) {
    padding-top: $navbarHeight;
  }

  p, h3 {
    @media screen and (max-width: $mobileWidth){
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  div > div > h2 {
    margin-left: 15px;
    margin-right: 15px;
  }



  width: $containerWidth;
  max-width: 100%;
  margin: auto;
  display: block;
}
