.header {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-full {
  height: 85vh;
  border-bottom: #222222 30px solid;

  div {
    padding: 50px;

    h1, h3 {
      margin: 0px;
    }
  }
}

.header-small {
  div {
    width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
  }

  border-top: #222222 10px solid;
  height: 200px;
  color: white;
}
