.header {
  background-color: #222222;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // Fill entire page (beyond padding)
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .header-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
    }

    .btn-list {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      @include media-breakpoint-up(sm) {
        row-gap: 2px;
        margin-top: 0px;
      }
    }

  }

}

.header-full {
  min-height: 60vh;
  border-bottom: $backgroundColorInverted 30px solid;

  @include media-breakpoint-up(sm) {
    min-height: 85vh;
    flex-direction: row;
  }

  >div {
    padding: 10px;

    @include media-breakpoint-up(sm) {
      padding: 50px;
    }

    h1,
    h3,
    h4 {
      margin: 0px;
      text-shadow: 0 0 4px $textColorInverted;
    }
  }
}

.header-small {
  min-height: 40vh;
  div {
    width: $containerWidth;
    margin-left: auto;
    margin-right: auto;
  }

  border-top: $backgroundColorInverted 10px solid;
  color: $textColorInverted;
  text-shadow: 0 0 4px $textColor;

  @include media-breakpoint-up(sm) {
    height: 200px;
  }
}

.hide-on-mobile {
  @media screen and (max-width: $containerWidth) {
    display: none;
  }
}

.no-margin {
  margin: 0;
}

.button {
  display: block;
  padding: 20px;
  margin: 10px;

  background-color: lighten($backgroundColor, 8);
  color: lighten($textColor, 20);

  text-decoration: none;

  border: $textColor 1px solid;
  border-radius: 5px;

  :visited {
    color: $textColor;
  }
}
