$backgroundColor: lightgray;
$textColor: #222;
$backgroundColorInverted: #222222;
$textColorInverted: #f1f1f1;

$mobileWidth: 380px;
$containerWidth: 700px;

$navbarHeight: 70px;

$bannerBorderColor: #c69838;
$bannerWidth: 240px;
