<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<body>
{{- partial "header.html" . -}}
{{- partial "navbar.html" . -}}


<div id="Main">
    <div class="MainContentBackground">
        <div class="MainContentBackground_mid">
            <div class="MainContentBackground_left"></div>
            <div class="MainContentBackground_right"></div>
        </div>
    </div>
    <div class="FooterAdjuster">
        <div class="MainScreen">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
    {{- partial "footer.html" . -}}
</div>

</body>
</html>
