<footer class="Footer" id="contact">
    <div class="FooterContent">
        <div class="w2">
            <h3 class="Footer_titel">Contact information</h3>
            Mail: info@kotkt.nl <br>
            Tel: (+31)6 51018209 <br>
            FB: FB.com/ESRGKnights <br>


            <br><br>
            <h3 class="Footer_titel">Business information</h3>
            IBAN: NL49 RABO 0325 427 771<br>
            KVK: 17150314


        </div>

        <div class="w2">
            <h3 class="Footer_titel">Visiting address</h3>
            Campus La Luna (TU/e) <br>
            De Lampendriessen 31 <br>
            5612 AH Eindhoven <br>
            <br>
            <h3 class="Footer_titel">Postal address</h3>
            ESRG Knights of the Kitchen Table <br>
            TU/e Luna de Plint postvak 11 <br>
            Postbus 513 <br>
            5600 MB Eindhoven <br>
        </div>
    </div>
</footer>
