<footer class="footer" id="contact">
    <div class="website-branding">
        <img class="endlogo" src="/images/Knights_logo.png" />
    </div>
    <div class="footer-content">
        <div>
            <h6>{{ i18n "footer_contact_information" }}</h6>
            <p>Mail: info@kotkt.nl</p>
            <p>Tel: (+31)6 51018209</p>
            <p>FB: FB.com/ESRGKnights</p>
        </div>

        <div>
            <h6>{{ i18n "footer_business_information" }}</h6>
            <p>IBAN: NL49 RABO 0325 427 771</p>
            <p>KVK: 17150314</p>
        </div>

        <div>
            <h6>{{ i18n "footer_visiting_address" }}</h6>
            <p>Campus La Luna (TU/e)</p>
            <p>De Lampendriessen 31</p>
            <p>5612 AH Eindhoven</p>
        </div>

        <div>
            <h6>{{ i18n "footer_postal_address" }}</h6>
            <p>ESRG Knights of the Kitchen Table</p>
            <p>TU/e Luna de Plint postvak 11</p>
            <p>Postbus 513</p>
            <p>5600 MB Eindhoven</p>
        </div>
    </div>
</footer>
