<head>
    <title> {{.Title}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Description }}">
    <base href="{{ .Site.BaseURL }}">
    <link type="text/css" rel="stylesheet" href='{{ "css/CSS_basics.css" | absURL }}'>
    <link type="text/css" rel="stylesheet" href='{{ "css/ShapeStyle.css" | absURL }}'>
    <link type="text/css" rel="stylesheet" href='{{ "css/ColorStyle_Knights.css" | absURL }}'>
    <link rel="canonical" href="{{ .Permalink }}">
</head>
