body{
    background-color: lightgray;
    font-family: 'Titillium Web', sans-serif;
}

.Title{

    height: 98vh;
    background: #222222 url("https://www.wallpaperup.com/uploads/wallpapers/2013/06/03/97165/cb421d3d7992456da0b0a4491367bb88.jpg") 50% 50% /cover;
    z-index: -100000;
    position: relative;
    border-bottom: 2vh solid #222222;
    font-family: 'IM Fell French Canon SC', serif;
}


.TitleContent{
    position: fixed;
    bottom: 10vh;
    left: 2vw;
    z-index: -5;
    text-shadow: 0 0 2px whitesmoke;
    color: black;
}
.TitleContent h1{
    margin: 0;
}


.NavBarRoot{
    background-color: #222222;
    color: aliceblue;
    font-size: larger;
}

.NavBarImage{
    background-image: url("../Images/Knights vaandel met draak.png");
    height: 138px;
    width: 78px;
}

.dropdown-menu {
    background-color: #222222;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown-menu > .current{
    color: #888888;
    border: 1px red;
}

.NavBarRoot li:hover {
    background-color: #444444;
}


.MainContentBackground_mid {
    /*background-color: #e5e2de;*/
}

.Main{
    background-color: #e5e0e0;
}

.MainScreen{
    color: #222222;

}

h1, h2, h3, a, .dropdown {
     font-family: 'IM Fell French Canon SC', serif;
}

h1{
    font-size: 3.2em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.1em;
    margin-bottom: 0;
}

.fullWidthImage{
    border-top: 5px solid #222222;
}


.whitetext{
    color: white;
}

Footer {
    background-color: #222222;
    color: #888888;
    padding-top: 20px;
    height: 220px;
}

.FooterAdjuster {
    padding-bottom: 240px;
}

.Footer_titel{
    color: #aaaaaa;
    margin: 0;
}




.link a:hover{
    text-decoration: underline;
}

.additionInfoBlock{
    text-align: center;
    font-weight: bolder;
    width: 230px;

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 3px 10px 3px;
    border-color: #c69838;
    padding: 20px 10px 30px 10px;
}
.hanger{
    position: relative;
    z-index: -3;
    top: 10px;
    width: 210px;
    height: 50px;

    background: url(../Images/hanger.svg) no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.additionInfo{
    position: relative;
    top: -70px;
}

.endlogo {
    position: absolute;
    opacity: 0.5;
    background: url(../Images/Knights_logo.png) no-repeat;
    background-size: contain;
}

@media (min-width: 800px){
    .Main{
        border-top: 10px solid #222222;
    }
}

@media(max-width: 800px){
    .endlogo{
        bottom: -70px;
        right:-120px;
        width: 400px;
        height: 500px;
        background-position: 0% 0%;
    }

    .languagebox > div > div{
        font-size: smaller;
    }

    .NavBarContent{
        background-color: #222222;
        top: -340px;
        height: 370px;
    }

    .NavBarMenu {
        margin-left: 100px;
    }
}

@media (min-width: 800px){
    .endlogo{
        bottom: 0;
        left:-100px;
        width: 900px;
        height: 800px;
        background-size: 100%;
        background-position: -140px -100px;
    }
}

@media (max-width: 1300px){
    .hanger, .additionInfoBlock {
        display: none;}
}