/* 
        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS
        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS
        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS
        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS        ROTATIONS
        
        
        In a counter clockwise manner
 */
.rot_1{
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
}

.rot_2{
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}

.rot_3{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}

.rot_5{
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.rot_7{
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    transform: rotate(7deg);
}

.rot_15{
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

.rot_45{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rot_90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
    In a clockwise manner
 */

.rot_-1{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.rot_-2{
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.rot_-3{
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.rot_-5{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.rot_-7{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.rot_-15{
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.rot_-45{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.rot_-90{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* 
        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY
        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY
        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY
        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY        VISIBILITY
 */

@media (max-width: 500px) {
    .hideOnXtraSmall{
        display: none;
    }
}

@media (max-width: 800px) {
    .hideOnSmall{
        display: none;
    }
}

@media (max-width: 1100px) {
    .hideOnMedium{
        display: none;
    }
}

@media (max-width: 1300px) {
    .hideOnLarge{
        display: none;
    }
}


@media (min-width: 500px) {
    .hideFromXtraSmall {
        display: none;
    }
}

@media (min-width: 800px) {
    .hideFromSmall {
        display: none;
    }
}

@media (min-width: 1100px){
    .hideFromMedium{
        display: none;
    }
}

@media (min-width: 1300px){
    .hideFromLarge{
        display: none;
    }
}

/*

        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH
        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH
        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH
        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH        COLUMN WIDTH

 */


.w1{
    width: 100%;
}

.w2{
    width: 50%;
}

.w3{
    width: 33.3%;
}

.w4{
    width: 25%;
}

.w1, .w2, .w3, .w4 {
    float: left;
}

/*

        HOOKS        HOOKS        HOOKS        HOOKS        HOOKS
        HOOKS        HOOKS        HOOKS        HOOKS        HOOKS
        HOOKS        HOOKS        HOOKS        HOOKS        HOOKS
        HOOKS        HOOKS        HOOKS        HOOKS        HOOKS    


 */

.hookTopRight{
    position: absolute;
    top:0;
    right:0;
}

.hookTopLeft{
    position: absolute;
    top:0;
    left:0;
}

.hookBottomRight{
    position: absolute;
    bottom:0;
    right:0;
}

.hookBottromLeft{
    position: absolute;
    bottom:0;
    left:0;
}



/*

        OTHER        OTHER        OTHER        OTHER        OTHER
        OTHER        OTHER        OTHER        OTHER        OTHER
        OTHER        OTHER        OTHER        OTHER        OTHER
        OTHER        OTHER        OTHER        OTHER        OTHER    


 */



.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}